.input-group {
  width: 30vh;
}

hr {
  margin: 0;
}

.navbar {
  padding: 0px;
}
.nav-item {
  padding-right: 15px;
}

#Date {
  font-weight: 600;
}

#header {
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

@media (max-width: 992px) {
  /*  #header {
    justify-content: center;
  } */
  #Date {
    display: none;
  }

  #Account {
    display: none;
  }
}
